In [81]:
import pandas as pd

In [82]:
df_org = pd.read_csv('titanic.csv')

In [83]:
df_org.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [84]:
df = df_org.drop(['PassengerId','Survived','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
target = df_org['Survived']

In [85]:
df.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [86]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [87]:
from sklearn.preprocessing import LabelEncoder

In [88]:
Pclass_le = LabelEncoder()
Sex_le = LabelEncoder()

In [89]:
df['Pclass_n'] = Pclass_le.fit_transform(df['Pclass'])
df['Sex_n'] = Sex_le.fit_transform(df['Sex'])

In [90]:
df = df.drop(['Sex'],axis='columns')
df.Age = df.Age.fillna(df.Age.mean())
df.head()

   Pclass   Age     Fare  Pclass_n  Sex_n
0       3  22.0   7.2500         2      1
1       1  38.0  71.2833         0      0
2       3  26.0   7.9250         2      0
3       1  35.0  53.1000         0      0
4       3  35.0   8.0500         2      1

In [91]:
from sklearn.model_selection import train_test_split

In [92]:
df_train,df_test,target_train,y=target_test = train_test_split(df,target,test_size=0.2)

In [93]:
from sklearn import tree

In [94]:
model = tree.DecisionTreeClassifier()

In [95]:
model.fit(df_train,target_train)

DecisionTreeClassifier()

In [96]:
model.score(df_train,target_train)

0.9817415730337079

In [99]:
model.predict([[3,22,2,1]])

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

ValueError: X has 4 features, but DecisionTreeClassifier is expecting 5 features as input.